import React from 'react'
import injectSheet from 'UI/styles/jss'
{{#if is_field}}
import UIValidationColorResult from 'UI/form/UIValidationColorResult'
import UIErrorOrWarning from 'UI/form/UIErrorOrWarning'
import UILabelForInput from 'UI/form/UILabelForInput'
{{/if}}


{{#if is_field}}
const {{name}} =({ input, label, name, disabled, type, value, meta: { touched, error, warning}, sheet: {classes}, ...props }) => {
  return (
    <div className="section">
      <UILabelForInput label={label} name={name}/>
      <input {...input } className={classes[props.validatedClass]+" "+ classes.input}/>
      <UIErrorOrWarning touched={touched} error={error} warning={warning}/>
    </div>
  );
};

const styles = {
  input: inputStyle,
  ...classesForValidatedClass
}

export default injectSheet(styles)(UIValidationColorResult({{name}}))
{{else}}
const {{name}} = ({sheet: {classes}, ...props}) => null

const styles = {
}

export default injectSheet(styles)({{name}})
{{/if}}



